#
# Config file for the GoVite Delphi conversion project.
#

# Search paths for FPC units
# --------------------------
# Add the path to the RTL (Run-Time Library) units.
-Fu/usr/lib/x86_64-linux-gnu/fpc/3.2.2/units/x86_64-linux/rtl/

# Add paths for all the translated packages.
-Fu.
-Fucommon
-Fucommon/math
-Fucommon/hexutil
-Fucommon/types
-Fucommon/bloom
-Fucommon/config
-Fucommon/helper
-Fucrypto
-Fucrypto/ed25519/internal/edwards25519
-Fucrypto/blake2b
-Fucrypto/rand
-Fucrypto/curve25519
-Fucrypto/aes
-Fucrypto/cipher
-Fucrypto/sha3
-Fuinterfaces
-Fuinterfaces/core
-Fulog15
-Fulumberjack
-Fulru
-Fumonitor
-Fuproto
-Fusnappy
-Fuhash/fnv
-Futools/circle
-Futools/list
-Funet
-Funet/vnode
-Funet/netool
-Funet/database
-Funet/discovery
-Funet/codec
-Funode
-Funode/config
-Funode/config/defaults
-Furpcapi
-Furpcapi/api
-Fupow
-Fupow/remote
-Fucmd/utils/flock
-Fuvm
-Fuvm/database
-Fuvm/contracts
-Fuvm/contracts/abi
-Fuvm/contracts/dex
-Fuvm/quota
-Fuledger
-Fuledger/chain
-Fuledger/chain/block
-Fuledger/chain/flusher
-Fuledger/chain/index
-Fuledger/chain/plugins
-Fuledger/chain/state
-Fuledger/chain/cache
-Fuledger/chain/genesis
-Fuledger/chain/sync_cache
-Fuledger/pool
-Fuledger/pool/lock
-Fuledger/consensus
-Fuledger/consensus/cdb
-Fuledger/consensus/core
-Fugo
-Fugo/math/big
-Fugo/math/rand
-Fugo/context
-Fugo/sync
-Fugo/leveldb
-Fugo/leveldb/util
-Fugo/leveldb/mockdb
-Fuvite
-Fuwallet
-Fuvm_db