#
# Minimal FPC Config to solve the RTL path issue.
#

# Search path for the Free Pascal Compiler's Run-Time Library (RTL) units.
-Fu/usr/lib/x86_64-linux-gnu/fpc/3.2.2/units/x86_64-linux/rtl/

# Add a path for the project's own units.
# This ensures that units in the root directory can be found.
-Fu.